<header>
    <div class="header-content">
        <div class="logo">
            <h1 class="titulo"style="color:#FF0000">T</h1><h1 class="titulo" style="color:#FF8C00">r</h1><h1 class="titulo" style="color:#FFD700">a</h1><h1 class="titulo" style="color:#008000">v</h1><h1 class="titulo"style="color:#00BFFF">e</h1><h1 class="titulo" style="color:#191970">l</h1><h1 class="titulo" style="color: black">Picarri</h1>
        </div>
        <img src="../../assets/images/logotravel.png" class="logocamaleon">
        <div class="menu" id="show-menu">
            <nav>
                <ul>
                    <li><a href="/principal"> <i class="fab fa-youtube"> </i>Inicio</a></li>
                    <li><a a routerLink="/buscador"> <i class="fab fa-youtube"> </i>Directorio de lugares</a></li>
                    <li class="menu-selected"><a routerLink="/rutanay" class="text-menu-selected"> 
                        <i class="fas fa-file-alt"></i>Ruta Nayarit</a></li>
                    <li><a href="/experiencias"> <i class="fas fa-headset"></i> Experiencias</a></li>
                    <li><a href="/login"> <i class="fas fa-headset"></i>Login</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<script src="js/script.js"></script>
<br>
<br>
<img src="../../assets/images/fondoriviera.jpeg"  class="d-block w-100" alt="...">
<h1>Ruta Nayarit</h1> 
<main class="main">
    <div class="cuadro1">
    <h2>¿A quíen no le gusta? 
        Salir de vacaciónes, darse un descanso...
    </h2>
    <h3>
        Siempre buscamos la minima oportunidad para despejar la mente, 
        la mejor oportunidad es salir de viaje pero querer conocer el mundo, 
        primero deberias ¡Conocer tu estado! 
        Enterate... 
    </h3>
    </div> 
</main>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <figure>
        <img src="../../assets/images/sayulita.jpeg" class="d-block w-100" alt="...">
        <h1>Amigos</h1>    
    </figure>
    <br>
    <br>
    <figure>
        <img src="../../assets/images/Familia.jpeg" class="d-block w-100" alt="...">
        <h1>Familia</h1>    
    </figure>
    <br>
    <br>
    <figure>
        <img src="../../assets/images/aventura.jpeg" class="d-block w-100" alt="...">
        <h1>Aventura</h1>    
    </figure>
    <br>
    <br>
    <figure>
        <img src="../../assets/images/naturaleza.jpeg" class="d-block w-100" alt="...">
        <h1>Naturaleza</h1>    
    </figure>
    <br>
    <br>
    <figure>
        <img src="../../assets/images/cultura.jpeg" class="d-block w-100" alt="...">
        <h1>Cultura</h1>    
    </figure>
    <br>
    <br>
    <figure>
        <img src="../../assets/images/fiesta.jpeg" class="d-block w-100" alt="...">
        <h1>Fiesta</h1>    
    </figure>
</div>
<br>
<br>
<div class="container">
    <div class = "cuadro2">
        <h2> ¿Interes? </h2>
        <h3> Nosotros sabemos que ¡SI! conoce donde puedes experimentar más de la vida</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d477318.7329637154!2d-105.52858510340165!3d20.82958227446643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8421386a056a890d%3A0x5d14aea31404e637!2sBah%C3%ADa%20de%20Banderas%2C%20Nay.!5e0!3m2!1ses!2smx!4v1637511155684!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div> 
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="../../assets/images/logotravel.png" alt="Logo de SLee Dw">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>Systems SJAJ SA.CV</h2>
            <p>Somos un equipo de desarrollo web y software especializado en los deseos del cliente.</p>
            <p>Ofrecemos los mejores precios y los mejores sistemas para tu empresa.</p>
        </div>
        <div class="box">
            <h2>Siguenos en nuestras redes sociales</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2021 <b>Systems SJAJ SA.CV</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>