<header>
    <div class="header-content">
        <div class="logo">
            <h1 class="titulo"style="color:#FF0000">T</h1><h1 class="titulo" style="color:#FF8C00">r</h1><h1 class="titulo" style="color:#FFD700">a</h1><h1 class="titulo" style="color:#008000">v</h1><h1 class="titulo"style="color:#00BFFF">e</h1><h1 class="titulo" style="color:#191970">l</h1><h1 class="titulo" style="color: black">Picarri</h1>
        </div>
        <img src="../../assets/images/logotravel.png" class="logocamaleon">
        <div class="menu" id="show-menu">
            <nav>
                <ul>
                    <li class="menu-selected"><a routerLink="/principal" class="text-menu-selected"> 
                        <i class="fas fa-file-alt"></i>Inicio</a></li>
                    <li><a a routerLink="/buscador"> <i class="fab fa-youtube"> </i>Directorio de lugares</a></li>
                    <li><a href="/rutanay"> <i class="fab fa-youtube"> </i>Ruta Nayarit</a></li>
                    <li><a href="/experiencias"> <i class="fas fa-headset"></i> Experiencias</a></li>
                    <li><a href="/login"> <i class="fas fa-headset"></i>Login</a></li>
                </ul>
            </nav>
        </div>
    </div>
<link rel="icon" type="image/x-icon" href="../../assets/images/logotravel.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Asul:wght@700&family=Comfortaa:wght@300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</header>
<script src="js/script.js"></script>
<br>
<div class="banner">
    <div class="capa"></div>
    <div class="info">
        <h1>Bienvenidos a Travel Picarri</h1>
        <h2 class="t1">¡Tu directorio de lugares ideal!</h2>
        <p>Ubicados en Bahía de Banderas, Nayarit, recomendamos a turistas lugares confiables y seguros para visitar. ¡Somos tu guía de confianza!</p>
        
    </div>
</div>
<div class="title-cards">
    <h2>Informate sobre el turismo en la actualidad.</h2>
</div>
<div class="container-card">

<div class="card">
<figure>
    <img src="../../assets/images/find1.jpg">
</figure>
<div class="contenido-card">
    <h3>Directorio de lugares</h3>
    <p>¿Necesitas una habitación con vista hacia la playa? ¿Deseas ir a caminar a un parqué? Buscalo aquí.</p>
    <a href="#">Leer más</a>
</div>
</div>
<div class="card">
<figure>
    <img src="../../assets/images/find2.jpg">
</figure>
<div class="contenido-card">
    <h3>Ruta Nayarit</h3>
    <p>¿No sabes donde viajar? Travel Picarri te tiene preparado para ti la mejor Ruta para vacacionar.</p>
    <a href="#">Leer más</a>
</div>
</div>
<div class="card">
<figure>
    <img src="../../assets/images/find3.jpg">
</figure>
<div class="contenido-card">
    <h3>Experiencias</h3>
    <p>Comparte con nosotros tus historias y los grandes momentos que visitaste gracias a Travel Picarri.</p>
    <a href="#">Leer más</a>
</div>
</div>
</div>
<div class="container-contacto">
    <div class="content-contacto">
        <div class="info-contacto">
            <h2>Anuncia tu negocio con nosotros.</h2>
            <p>Publica tu anuncio en Travel Picarri y llega a más clientes para tu negocio, reserva tu alojamiento con nosotros cuando las personas buscan lo que usted tiene para ofrecer.</p>
            <div class="contacto">
                <a href="/">
                    <i class="fas fa-phone"></i>
                    <span>+52 311-123-4567</span>
                </a>
                <a href="/">
                    <i class="fa fa-envelope"></i>
                    <span>staff@travelpicari.com</span>
                </a>
                <a href="/">
                    <i class="fa fa-map-marked"></i>
                    <span>Tepic, Nayarit, México.</span>
                </a>
            </div>
        </div>
    </div>
</div>
<img src="../../assets/images/anunciate.jpg" class="anunciate">
<br>
        <footer class="pie-pagina">
            <div class="grupo-1">
                <div class="box">
                    <figure>
                        <a href="#">
                            <img src="../../assets/images/logotravel.png" alt="Logo de SLee Dw">
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h2>Systems SJAJ SA.CV</h2>
                    <p>Somos un equipo de desarrollo web y software especializado en los deseos del cliente.</p>
                    <p>Ofrecemos los mejores precios y los mejores sistemas para tu empresa.</p>
                </div>
                <div class="box">
                    <h2>Siguenos en nuestras redes sociales</h2>
                    <div class="red-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </div>
                </div>
            </div>
            <div class="grupo-2">
                <small>&copy; 2021 <b>Systems SJAJ SA.CV</b> - Todos los Derechos Reservados.</small>
            </div>
        </footer>
