<body>
  <br>
  <div class="contenedor-form">
    <div class="toggle">
        <span routerLink="/principal">Regresar</span>
    </div>
    
    <div class="formulario">
        <h2 class="text-center">Autenticación</h2>
        <h2 class="text-center">Acceso al administrador unicamente</h2>
        <form class="mt-5" [formGroup]="usuariosForm" (ngSubmit)="IniciarSesion" >
            <input type="text" placeholder="Usuario" id="nombre">
            <input type="password" placeholder="Contraseña" id="contraseña">
            <input type="submit" routerLink="/paneladmin" value="Iniciar Sesión">
        </form>
        <br>
        <!--<input type="submit" routerLink="/crear-usuario" value="¿No tienes una cuenta? Registrate.">-->
    </div>
  </div>
  <script src="../../assets/js/jquery-3.1.1.min.js"></script>    
  <script src="../../assets/js/main.js"></script>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>
