@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.titulo{
    position: relative;
    top: 0px;
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
}
/*-----------------------------------------------------------------------------------*/
.finalcuadro{

    position: relative;
    height: 200px;
    width: 1375;
    padding: 20px 20px 20px 20px;
    background-color: rgb(15, 23, 34);
    border-block-end: 5px solid rgba(153, 5, 5, 0.842); 
    max-width: 858px;
}
.imagenFondo{
    position: absolute;
    height: 380px;
    top: 150px;
    width: 1240px;
    right: 30px;
}
.bienvenida{
    text-shadow: 1px 1px 2px black;
    color: #51E7E8;
    margin-top: -350px;
    margin-left: 530px;
    
}
.confianza{
    margin-left: 400px;
    text-shadow: 1px 1px 2px black;
    color: #51E7E8;
}
.logocamaleon{
    width: 9%;
    position: relative;
    top: -8px;
    right:50px;
}
/*-----------------------------------------------------------------------------------*/
body{
    background: #f6f6f6;
}
/* TODO ESTO ES PARA EL MENU */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: white;
    box-shadow: 0 4px 25px -22px black;
    z-index: 10;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.logo h1 b{
    color: #46a2fd;
}


.menu {
    height: 80px;
    margin-right: 60px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background: #51E7E8;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: black;
    font-size: 18px;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color: #51E7E8;
}

.menu .text-menu-selected{
    color: white;
}

.menu nav ul li a i{
    display: none;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #eeeeeefa;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#icon-menu:hover{
    opacity: 0.8;
}



/*Buscador de contenido*/

#ctn-icon-search{
    position: absolute;
    right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ctn-icon-search i{
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
}

#ctn-icon-search i:hover{
    color: #46a2fd;
}


#ctn-bars-search{
    position: fixed;
    top: -10px;
    width: 100%;
    background: #fff;
    padding: 20px;
    z-index: 9;
    transition: all 600ms;
}

#ctn-bars-search input{
    display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
}

#box-search{
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background: #fff;
    z-index: 8;
    overflow: hidden;
    display: none;
}

#box-search li a{
    display: block;
    width: 1200px;
    color: #777777;
    padding: 12px 20px;
}

#box-search li a:hover{
    background: #f3f3f3;
}

#box-search li a i{
    margin-right: 10px;
    color: #777777;
}


#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 7;
    display: none;
}




/*Footer - pie de pagina*/

.container-footer{
    width: 100%;
    padding: 40px 0;
    background: #fff;
    margin-top: 40px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}

.container-footer footer .logo-footer img{
    width: 100px;
}

.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

footer .redes-footer .fa-facebook-f:hover{
    background: #41579A;
    color: #fff;
}

footer .redes-footer .fa-google-plus-g:hover{
    background: #DE4C34;
    color: #fff;
}

footer .redes-footer .fa-instagram:hover{
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
    color: #fff;
}


.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #c0c0c07a;
}


.container-footer h4{
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
}

/* Responsive Design - adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px){

    .header-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }

    #ctn-bars-search,
    #ctn-bars-search input,
    #box-search{
        width: 100%;
    }

}



@media screen and (max-width: 800px){

    body{
        overflow-x: hidden;
    }

    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .move-container-all{
        transform: translateX(300px);
    }

    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #fff;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before{
        width: 0;
    }

    .menu nav ul li a{
        margin-top: 40px;
        color: #858585;
    }

    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #46a2fd;
    }

    #icon-menu{
        display: flex;
        right: 60px;
    }

    .container-aside{
        flex-wrap: wrap;
    }

}
.pie-pagina{
    width: 109%;
    margin-left: -122px;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
.banner{
	width: 100%;
	height: 600px;
	animation: banner 10s infinite linear alternate;
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes banner{
	0%, 20%{
		background-image: url("https://i.imgur.com/wcDJ3DN.jpg");
	}
	25%, 45%{
		background-image: url("https://i.imgur.com/8rY7mPX.jpg");
	}
	50%, 70%{
		background-image: url("https://i.imgur.com/QUhDOM2.jpg");
	}
	75%, 100%{
		background-image: url("https://i.imgur.com/agG1fbY.jpg");
	}
}
.capa{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
}
.info{
	z-index: 1;
	width: 100%;
	max-width: 550px;
	text-align: center;
}
.info h1{
	color: #fff;
	font-size: 45px;
	margin-bottom: 20px;
	letter-spacing: 1px;
}
.info p{
	color: #c7c7c7;
	line-height: 1.7;
	margin-bottom: 30px;
}

